
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.HistoryData/
*.opensdf
*.sdf
ipch/
!debug_tools/
!debug_panel_new/
ArchiveEvent/
enc_temp_folder/
Units/Defectoscope/Version.h
Units/Defectoscope/NumVerOld.txt
Units/Defectoscope/NumVer.txt
Stored/
!Units/Defectoscope/Stored/
!Units/View/Stored/
Tests/
TestProject/
!Tests/testUSPS/
!testUSPS/
Protocols/Protocols/Requests/CountingByYear.sql
Units/Viewer/NumVerOld.txt
Units/Viewer/Version.h
Units/Viewer/NumVer.txt


